@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Comfortaa, cursive;
  font-weight: 500;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url("images/background.webp") 100% 100% no-repeat;
  background-size: cover;
}

form {
  display: flex;
  flex-direction: column;
  width: 400px;
}

input {
  margin: 10px 0;
  padding: 10px;
  outline: none;
}

button {
  padding: 10px;
  background: #cccbcb;
  border: unset;
  cursor: pointer;
}

button:hover {
  outline: 2px solid #464545;
}

p {
  margin: 10px 0;
}

a {
  color: #4e7db0;
  text-decoration: none;
}

a:hover {
  font-weight: bold;
}

.msg {
  border: 2px solid #ffa908;
  border-radius: 3px;
  padding: 10px;
  text-align: center;
  font-weight: bold;
  color: crimson;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

img {
  width: 150px;
}

.logout {
  color: #b7625c;
}

.error {
  border-bottom: 2px solid #ff4332;
}

.none {
  display: none;
}


